@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --base-clr: #FFFFFF;
    --primary-clr: #2ECC71;
    --second-clr: #47663B;
    --line-clr: #000000;
    --accent-clr: #EED3B1;
    --hover-clr: #1F4529;
    --text-upload: #55AD9B;
}

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--base-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar {
    box-sizing: border-box;
    height: 105vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--second-clr);
    border-right: 1px solid var(--line-clr);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
}

#sidebar.close {
    padding: 5px;
    width: 50px;
}

#sidebar ul {
    list-style: none;

    i {
        background-color: var(--second-clr);
    }
}

#sidebar>ul>li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .logo {
        font-weight: 600;
    }
}

#sidebar ul li.active a {
    color: var(--accent-clr);
}

#sidebar a,
#sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--base-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar a:hover {
    background-color: var(--hover-clr);
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    transition: rotate 150ms ease;
}

#toggle-btn:hover {
    background-color: var(--hover-clr);
}

.container {
    padding: 30px;
    text-align: center;
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    margin: auto;
    background-color: var(--base-clr);
    border-radius: 16px;
    color: var(--text-upload);
    position: sticky;
}

.header-section {
    padding: 25px 0px;
}

.header-section h1 {
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--second-clr);
    margin: 0px;
    margin-bottom: 8px;
}

.header-section p {
    margin: 5px;
    font-size: 0.95rem;
    color: var(--second-clr);
}

.drop-section,
.result-section {
    min-height: 250px;
    border: 2px dashed var(--primary-clr);
    margin: 5px 35px 35px 35px;
    border-radius: 12px;
    position: relative;
}

.drop-section div.col:first-child {
    opacity: 1;
    visibility: visible;
    transition-duration: 0.2s;
    transition: scale(1);
    width: 200px;
    margin: auto;
}

.drop-section div.col:last-child {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-upload);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 200px;
    height: 55px;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6);
    transition-duration: 0.2s;
}

/* for after drop in js */
.drop-over-effect div.col:first-child {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1.1);
}

.drop-over-effect div.col:last-child {
    opacity: 1;
    visibility: visible;
    transform: scale(2);
}

.drop-section .cloud-icon {
    margin-top: 25px;
    margin-bottom: 20px;
}

.drop-section span,
.drop-section button {
    display: block;
    margin: auto;
    color: var(--text-upload);
    margin-bottom: 10px;
}

.drop-section button {
    color: var(--text-upload);
    border: 1.5px dashed var(--primary-clr);
    border-radius: 15px;
    padding: 7px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.drop-section input {
    display: none;
}

.list-section {
    display: none;
    text-align: left;
    margin: 0px 35px;
    padding-bottom: 20px;
}

.list-section .list-title {
    font-size: 0.95rem;
    color: var(--second-clr);
}

.list-section li {
    display: flex;
    margin: 15px 0px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 8px;
    transition-duration: 0.2s;
}

.list-section li:hover {
    box-shadow: #E3EAF9 0px 0px 4px 0px, #E3EAF9 0px 12px 16px 0px;
}

.list-section li .col {
    flex: .1;
}

.list-section li .col:nth-child(1) {
    flex: .15;
    text-align: center;
}

.list-section li .col:nth-child(2) {
    flex: .75;
    text-align: left;
    font-size: 0.9rem;
    color: var(--text-upload);
    padding: 8px 10px;
}

.list-section li .col:nth-child(2) div.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    display: inline-block;
}

.list-section li .col .file-name span {
    color: var(--line-clr);
    float: right;
}

.list-section li .file-progress {
    width: 100%;
    height: 5px;
    margin-top: 8px;
    border-radius: 8px;
    background-color: var(--hover-clr);
}

.list-section li .file-progress span {
    display: block;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(120deg var(--hover-clr), var(--second-clr));
    transition-duration: 0.4s;
}

.list-section li .col .file-size {
    font-size: 0.75rem;
    margin-top: 3px;
    color: var(--line-clr);
}

.list-section li .col i.cross,
.list-section li .col i.ticky {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.list-section li.complete span,
.list-section li.complete .file-progress,
.list-section li.complete i.cross {
    display: none;
}

.list-section li.in-prog .file-size,
.list-section li.in-prog i.ticky {
    display: none;
}

.in-prog .file-progress span {
    display: block;
    background-color: var(--primary-clr);
    height: 5px;
}

.complete .file-name span {
    color: green;
}

.in-prog .file-name span {
    color: grey;
}

.container-hasil,
.container-dashboard {
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: var(--base-clr);
    border-radius: 16px;
    color: var(--text-upload);
}

.header-section>h2>i {
    color: yellow;
    background-color: yellowgreen;
    padding: 10px;
}

.result-section {
    justify-content: center;
    font-size: 1rem;
    display: flex;
    min-height: min-content;
    min-width: min-content;
}

.information-1,
.information-2 {
    text-align: left;
    margin: 20px;
    margin-right: 50px;
    font-weight: 600;
}

.result-section img {
    padding-top: 30px;
    width: 200px;
    height: 100px;
}

.detail-section {
    min-height: 250px;
    margin: 5px 35px 35px 35px;
    text-align: justify;
    position: relative;
    color: var(--line-clr);
}

.description {
    margin-bottom: 45px;
}

.content {
    border: 5px solid var(--primary-clr);
    border-radius: 12px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    min-width: min-content;
    min-height: min-content;
}

.content-img img {
    padding: 20px;
    width: 200px;
    height: 100px;
}

.content-text {
    margin-top: 30px;
    padding: 10px;
    font-weight: 300;
    color: var(--second-clr);
}

.content-text a {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-upload);
}

.messageFromUs p {
    color: var(--line-clr);
    font-weight: 800;
    margin-bottom: 20px;
}

.messageFromUs button {
    padding: 10px;
    background-color: var(--second-clr);
    border-radius: 25px;
    color: var(--base-clr);
}

.welcome {
    color: #47663B;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.kata-kata {
    font-size: 20px;
    margin-bottom: 10px;
}

.redeem-point {
    background-color: #FFFFFF;
    border-radius: 30px;
    position: relative;
    top: 80%;
    left: 20%;
    right: 20%;
    height: 200px;
    width: 650px;
    margin-bottom: 30px;
}

.kotak-point {
    border-radius: 30px;
    position: relative;
    top: 5%;
    margin: 10px;
    margin-bottom: 20px;
    background-color: #F1F6FF;
    height: 150px;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    color: black;
}

.points {
    position: relative;
    top: 35%;
}

.text-reward {
    position: relative;
    top: 40%;
}

.link-redeem {
    font-size: small;
    padding-left: 30px;
    text-align: left;
}

.link-redeem a {
    text-decoration: none;
    color: black;
}

.article {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    height: 32vh;
    padding: 20px;
}

.link-to-article {
    text-decoration: none;
    color: black;
    position: relative;
    right: 40%;
    margin: 20px;
}

.flex-artikel {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: 12rem;
}

/* Tombol Navigasi Carousel */
.carousel button {
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel button:hover {
    background-color: #0056b3;
}

.kotak-artikel {
    flex-direction: column-reverse;
    background-color: #f0f0f0;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 280px;
}

.judul-artikel {
    text-align: center;
    position: relative;
    padding: 20px 0px 20px 0px;
    top: 40%;
    background-color: white;
    font-size: 10px;
    color: black;
}

.judul-artikel span {
    display: block;
    margin-bottom: 10px;
}

.judul-artikel button {
    padding: 10px;
    background-color: #D3F1DF;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.judul-artikel button:hover {
    background-color: var(--second-clr);
    color: white;
}

.heading{
    color: var(--second-clr);
    font-size: 40px;
    text-align: center;
    padding: 40px;
    font-weight: normal;
}

.container-videos{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.container-videos .main-video{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
}

.container-videos .main-video iframe{
    width: 100%;
    border-radius: 5px;
}

.container-videos .main-video .title{
    color: var(--hover-clr);
    font-size: 18px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-videos .video-list{
    background: #FFFFFF;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}

.container-videos .video-list .vid img{
    width: 100px;
    border-radius: 5px;
}

.container-videos .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.container-videos .video-list .vid .title{
    font-size: 12px;
    font-weight: normal;
    color: black;
}

.container-videos .video-list .vid:hover{
    background-color: #eee;
}

.container-videos .video-list .vid.active{
    background-color: var(--primary-clr);
}

.container-videos .video-list .vid.active .title{
    color: #FFFFFF;
}

.container-profile {
    margin-left: 270px; /* Offset to account for sidebar */
    padding: 30px;
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    font-size: 15px;
    color: var(--hover-clr);
    font-weight: normal;
}

.profile-picture {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.profile-picture img {
    border-radius: 50%;
    border: 2px solid #1abc9c;
}

.profile-picture button {
    padding: 8px 15px;
    border: none;
    background-color: #1abc9c;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.profile-picture .delete-picture{
    background-color: red;
}

.profile-picture button:hover {
    background-color: white;
    border: 1px solid #47663B;
    color: var(--hover-clr);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #1abc9c;
}

.form-group.inline {
    display: flex;
    gap: 50px;
}

.form-group.inline > div {
    flex: 1;
}

.save-change {
    text-align: right;
}

.save-change button {
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.save-change button:hover {
    background-color: #16a085;
}



/* ====================== BREAKPOINTS MEDIA QUERY ============================================ */
